#zes{
    font-size: 32px;
    font-weight: bold;
}

#fijv{
    font-size: 24px;
    font-weight: bold;
}

#vier{
    font-size: 18.72px;
    font-weight: bold;
}

#drie{
    font-size: 16px;
    font-weight: bold;
}

#twee{
    font-size: 13.28px;
    font-weight: bold;
}

#een{
    font-size: 10.72px;
    font-weight: bold;
}