*{
    margin: 0;
    padding: 0;
}

#infoSection{
    background-color: red;

}

body{
    background-color: #696969;
}
#header{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerText{
    text-align: center;
    color: white;
}

#elonMuskPFP{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 152px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #F52D22;
  }

#contentText{
    display: flex;
    align-items: center;
    justify-items: center;
}

#elonMuskSmoking{
    width: 364px;
}

#elonMuskBoat{
    padding: 10px;
    width: 400px;
    display: inline-block;
}

#elonMuskWave{
    padding: 10px;
    width: 500px;
    display: inline-block;
}

#elonMuskDancing{
    padding: 10px;
    width: 400px;
    display: inline-block;
}