*{
    background-color: #e1ddf0;

}

#container{
    width: 53%;
    margin: 0 auto;
}



form{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 15px;
}

#content form fieldset{
    height: auto;
    width: 350px;
    border: 4px solid #4D365B;
    padding: 10px 10px  10px 10px;
    margin-left: 200px;
}

#voornaamBericht{
    float: left;
    width: 300px;
    height: 50px;
    font-size: 14pt;
    margin-bottom: 20px;
    margin-right: 20px;
}

#achternaamBericht{
    float: left;    width: 300px;
    height: 50px;
    font-size: 14pt;

}

#email{
    clear: both; 
    float: left; 
    display: block; 
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 14pt;
    margin-right: 20px;
}

#website{ 
    float: left; 
    display: block; 
    position: relative;    
    width: 300px;
    height: 50px;
    font-size: 14pt;
}

#bericht{
    width: 628px;
    height: 200px;
    margin-top: 20px;
    font-size: 14pt;
}

#verstuur{
    margin: auto 290px;
    border-color: lime;
    color: lime;
}