@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: green;
    padding-top: 100px;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding: 10px 40px;
    width: 60%;
}

.whiteCard:hover {
    transform: scale(1.2);
    margin-top: -100px;
    z-index:  20;
}

#hartenCardA{
    box-shadow: 2px 2px 5px 3px #555;
}

.klaverenCard{
    margin: 0px -40px;
}

.hartenCard{
    margin: 0px -40px;
}

.schoppenCard{
    margin: 0px -40px;
}

.ruitenCard{
    margin: 0px -40px;
}

.ruiten{
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.schoppen{
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.harten {
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.klaveren {
    position:absolute; 
    left:-38px;
    top:-44px;
    width: 16px;
    height: 16px;
}

.aRuiten{
    color: red;
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aSchoppen{
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aHarten {
    color: red;
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aKlaveren{
    position:absolute; 
    left:4px;
    top:-25px;
}

.aRuitenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:110px;
    top:170px;
    color: red;
}

.aSchoppenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:110px;
    top:170px
}

.aHartenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:110px;
    top:170px;
    color: red;
}

.aKlaverenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:110px;
    top:170px;
}



.whiteCard {
    position:relative;
    border-radius: 5%;
    width: 147px;
    height: 206px;
    background-color: white;
    box-shadow: 2px 2px 5px 3px #555;
    transition: all .5s;
}



img {
    width: 60px;
    height: 64px;
    margin: 70px 40px;
}

p {
    font-size: 22px;
}


.ruitenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px

}



.schoppenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}



.hartenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}



.klaverenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}