@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: green;
}


h1 a{
    float: right;
    font-size: 128px;
    text-decoration: none;
    color: white;
    padding-right: 500px;
}

section {
    clear: right;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding: 10px 40px;
    width: 60%;
}


.whiteCard:hover {
    transform: scale(1.2);
    margin-top: -100px; 
    z-index:  20;
    
}

.grid {
    width: 1170px;
    margin: 0 auto;
  }
  
  .list {
    height: 652px;
    position: relative;
    list-style-type: none;
    padding-left: 0;
  }
  
  .card{
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    float: left;
    width: 222px;
    height: 311px;
    background-color: #eee;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px 0 15px 15px;
  }
  .card:nth-child(5n) {
    margin-right: 0;
  }
  .card.ani0 {
    right: 948px;
    bottom: 326px;
  }
  .card.ani1 {
    right: 711px;
    bottom: 326px;
  }
  .card.ani2 {
    right: 474px;
    bottom: 326px;
  }
  .card.ani3 {
    right: 237px;
    bottom: 326px;
  }
  .card.ani4 {
    right: 0;
    bottom: 326px;
  }
  .card.ani5 {
    right: 948px;
    bottom: 0;
  }
  .card.ani6 {
    right: 711px;
    bottom: 0;
  }
  .card.ani7 {
    right: 474px;
    bottom: 0;
  }
  .card.ani8 {
    right: 237px;
    bottom: 0;
  }
  

.klaverenCard{
    margin: 0px -40px;
}

.hartenCard{
    margin: 0px -40px;
}

.schoppenCard{
    margin: 0px -40px;
}

.ruitenCard{
    margin: 0px -40px;
}

.ruiten{
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.schoppen{
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.harten {
    width: 16px;
    height: 16px;
    position:absolute; 
    left:-38px;
    top:-44px;
}

.klaveren {
    position:absolute; 
    left:-38px;
    top:-44px;
    width: 16px;
    height: 16px;
}

.aRuiten{
    color: red;
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aSchoppen{
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aHarten {
    color: red;
    position:absolute; 
    left: 4px; 
    top: -25px;
}

.aKlaveren{
    position:absolute; 
    left:4px;
    top:-25px;
}

.aRuitenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:105px;
    top:170px;
    color: red;
}

.aSchoppenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:105px;
    top:170px
}

.aHartenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:105px;
    top:170px;
    color: red;
}

.aKlaverenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:105px;
    top:170px;
}



.whiteCard {
    position:relative;
    border-radius: 5%;
    width: 147px;
    height: 206px;
    background-color: white;
    box-shadow: 2px 2px 5px 3px #555;
    transition: all .5s;
}



img {
    width: 60px;
    height: 64px;
    margin: 70px 40px;
}

p {
    font-size: 22px;
}


.ruitenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px

}



.schoppenUpSideDown{
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}



.hartenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}



.klaverenUpSideDown {
    display: inline-block;
    margin: 1em;
    transform: scale(-1, 1);
    transform: scale(1, -1);
    width: 16px;
    height: 16px;
    position:absolute; 
    left:113px;
    top:145px;
}